*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    --paragraph-color: #777;
}
body{
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
header nav ul li a {
    padding: 15px !important;
}
header{
    padding-left: 30px;
    top:-10px;
position: absolute;
width: 100%;
z-index: 12;
color: white;
display: flex;
justify-content: center;
align-items: center;
}
header .container{
display: flex;
min-height: 97px;
max-height: 150px;
color: white;
width: 90%;
align-items: center;
justify-content: space-between ;
justify-self: center;
border-bottom: 0.3px solid white;
padding-bottom: 0px;
padding-left: 0;
padding-right: 0;
}
header .container img{
height: 30px;
width: auto;
}
header .container img:hover{
    scale: 1.3;
}
nav{
    margin-right: 0 !important;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    right: 0;
}
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    border-left: 1px solid white;
    margin-left: 20px;
}
header nav .fa-bars{
display: none;
}
ul{
    display: inline-flex;
}
ul li{
    display: inline-flex;
    color: white;
}
header nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: 0.3s;
    padding: 10px 10px;
    padding-bottom: 0;
    position: relative;
    z-index: 2;
}
header nav .form i {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: 0.3s;
    font-size: 1rem;
}
p{
    color: var(--paragraph-color);
}
li a{
    font-size: 0.3rem;
    color: black;
    text-decoration: none;
}
header nav ul li a.active, header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    transform: scale(1.3) !important;
}
header i:hover{
    transform: scale(1.3);
    border-radius: 50%;
    transform: translate(10deg,10deg);
    overflow: hidden;
}
.landing {
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgb(0 0 0 / 60%);
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    background-color: var(--transparent-color);
    width: 50%;
    transform: translateY(-50%);
    padding: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    line-height: 20px;
}
.landing .text h2
{
    line-height: 40px;
    margin-bottom: 20px;
}
.landing .text p{
    color: white;
}
.bullets{
    color: white;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    z-index: 1234;
    top: 85vh;
    left: 45%;
}
.bullets li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;

}
.bullets .active{
    background-color: #19c8fa;
}
.fa-angle-left{
    color: white;
    position: relative;
    display: inline-block;
    font-size: 3rem;
    z-index: 1234;
    top: 45vh;
    left: 10px;
}
.fa-angle-right{
    color: white;
    position: relative;
    display: inline-block;
    font-size: 3rem;
    z-index: 1235;
    top: 45vh;
    left: 90%;
}
img{
    width: 40%;
}
@media (max-width:767px){
    header{
        top: -10px;
width: 90%;
    }
    header ul li{
        display: none;
    }
    header nav .fa-bars{
        display: inline-flex;
        font-size: 1rem;
        }
        .landing .text{
            width: 100%;
            max-height: 50%;
            overflow: hidden;
        }
       header .container{
        align-items: center;
        justify-content: space-between;
        width: 95%;
        padding-bottom: 10px;
       }
       .fa-angle-right,.fa-angle-left{
display: none;
       }
       .bullets{
        top: 80vh;
        left: 45%;
    }
}
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(---section-padding);
    min-height: 100vh;
    width: 100%;
}

.main-heading{
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
    transition: 0.3s;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    height: 2px;
    width: 120px;
    background-color: #333;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38px;
    height: 14px;
    width: 14px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: white;
}
.main-heading h2:hover{
    color: var(--main-color);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    color: var(--paragraph-color);
    line-height: 2;
}
.services .container {
    padding-left: 25px;
    padding-right: 25px;
}
.services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    column-gap: 40px;
    row-gap: 60px;
    width: 90%;
padding: 20px !important;
padding-left: 90px;
}
.srv-box{
    display: flex;
    max-width: 100%;
}
.services .srv-box i {
    font-size: 35px;
    margin-right: 40px;
    transition: 0.3s;
}
.srv-box .text{
margin-left: 10px;
line-height: 30px;
}
.srv-box .text h3{
    color: var(--main-color);
    top: 0;
    margin-bottom: 20px;
}
.srv-box i:hover{
    color: var(--main-color);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
@media (max-width: 768px) {
    .services .srv-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
        width: 100%;

    }
    .services .srv-box i{
        margin-left: 50px;
    }
    .services-container{
        width: 100%;
        justify-content: center;
        padding: 0 !important;
    }
}
.services .services-container{
    margin: 20px auto;
    padding-left: 20px;
}
@media (max-width:996px){
    .services .services-container{
        display: block;
        padding-left: 0 !important;
    }
    .services{
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
}
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url(../images/design-features.jpg);
    display: flex;
    height: 600px;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}
.design::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.design .text{
    background-color: var(--transparent-color);
    position: absolute;
    right: 0;
    width: 50%;
    height: 60%;
    padding: var(---section-padding);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.design .text ul {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.design .text ul li{
    padding: 16px 0;
}
.design .text ul li:hover, .design .text h2:hover{
    color: var(--main-color);
    scale: 1.3;
}
.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "ïŽ";
    font-weight: 900;
    position: relative;
    top: 1px;
    margin-right: 20px;
}
.design .text h2 {
    font-weight: normal;
    margin-bottom: 40px;
    text-transform: uppercase;
    transition: 0.3s;
}
.design .imge{
    position: relative;
    z-index: 2;
    flex: 1 1 0%;
}
.design img{
width: auto;
margin-left: 100px;
bottom: -120px;
position: relative;
}
@media (max-width:996px){
    .design img{
        margin-left: 10%;
    }
}
@media (max-width:767px){
    .design img{
       display: none;
    }
    .design .text{
        width: 100%;
    }
}
.protofolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: fit-content;
}
.protofolio .shuffle {
    display: flex;
    justify-content: center;
}
.protofolio .shuffle li{
    padding: 7px;
    color: black;
    margin-right: 10px;
}
.protofolio .shuffle li:hover{
    border-radius: 25%;
    color: white;
    background-color: var(--main-color);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}
.protofolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}
.protofolio .imgs-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 60px;
    gap: 0;
    width: 100%;
    height: 100vh;
}
.protofolio .box{
    position: relative;
    overflow:hidden;
}
.protofolio .box img{
position: absolute;
bottom: 0;
width: 100%;
height: 100%;
}
.protofolio img:hover{
    scale: 1.2;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.protofolio .imgs-container .box .caption {
    background-color: white;
    position: absolute;
    left: 0px;
    bottom: -30px;
    width: 100%;
    padding: 20px;
    transition: 0.3s;
    visibility: hidden;
}
.protofolio .box .caption:hover{
bottom: 0px;
visibility: visible;
}
.protofolio .box .caption p{
    color: var(--main-color);
}
@media (max-width: 992px) {
    .protofolio .imgs-container{
        grid-template-columns: repeat(auto-fill,minmax(50%,1fr) )!important;
        height: 113vh !important;
    }
}
@media (max-width: 768px) {
    .protofolio .imgs-container{
        grid-template-columns: repeat(auto-fill,minmax(100%,1fr)) !important;
        height: 264vh !important;
    }
    .protofolio >.more{
        margin-left: 41% !important;
    }
}
.protofolio .more{
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    padding: 20px;
    position: absolute;
    margin-top: 50px;
    display: flex;
    margin-left: 47%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.protofolio>.more:hover{
    scale: 1.3;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
.up{
    position:fixed;
    z-index: 12345678;
    color: white;
    background-color: var(--main-color);
    margin-top: 90vh;
    right: 20px;
    width: 5%;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.up:hover{

}